.container-huyenHoc {
    width: 100vw;
    height: 100vh;
    background-color: #a17e5f;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/tarotUp.jpg");
}