.login-container {
    width: 100vw;
    height: 100vh;
    background-image: url("../login/login_home.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #d2c1b8;
}