.login-container {
    width: 100vw;
    height: 100vh;
    background-color: #d2c1b8;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-image: url('/webp/background.webp');
    background-size: cover;
    background-position: center;
    transform: scaleX(-1); */
}

.main-object {
    transform: scaleX(-1);
    margin: 0;
}

.labelText {
    font-family: Lora;
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
}