.login-container {
    width: 100vw;
    height: 100vh;
    background-color: #d2c1b8;
    display: flex;
}

.login-card {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-board:hover {
    transform: translate(-50%, -51%) scale(1.005);
}

.google {
    position: absolute;
    top: 30%;
    left: 30%;
}

.btn-secondary {
    background: transparent;
    border: 1.5px solid #d7c0a3;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: 500;
    color: #5d4037;
    cursor: pointer;
    transition: all 0.2s ease;
}