.login-container {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #d2c1b8;
}

.login-board {
    width: 700px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 35vh;
    left: 50%;
    transform: translate(-50%, 0%);
    background-image: url(/register/scroll.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.google {
    position: absolute;
    top: 30%;
    left: 30%;
}