.container-goMo {
    width: 100vw;
    height: 100vh;
    background-color: #a17e5f;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.camGayGoMo {
    cursor: url("../cursor/go_mo.png") 64 78, pointer;
}

.goMo {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.pillow,
.bong,
.caiMo,
.caiBan,
.tuongPhat,
.bathuong,
.caynen,
.gayGoMo,
.banCongDuc,
.khayDungGay {
    position: absolute;
}

.caiMo {
    bottom: 21%;
    left: 45%;
    z-index: 10;
}

/* .caiMo:hover,  */
.gayGoMo:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.pillow {
    bottom: 7%;
    left: 39%;
    z-index: 1;
}

.caiBan {
    bottom: 18%;
    left: 30%;
    z-index: 1;
}

.tuongPhat {
    bottom: 43%;
    left: 40%;
    z-index: 2;
}

.caynen.left,
.caynen.right {
    bottom: 43%;
    z-index: 3;
}

.caynen.left {
    left: 34%;
}

.caynen.right {
    left: 62%;
}

.bathuong {
    bottom: 43%;
    left: 46%;
    z-index: 4;
}

.gayGoMo {
    bottom: 7%;
    right: 30%;
    z-index: 5;
    cursor: pointer;
}

.khayDungGay {
    bottom: 3%;
    right: 28%;
    z-index: 4;
}

.banCongDuc {
    bottom: 20%;
    right: 5%;
}

.floating-texts-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

.congDucText,
.tamTinhText,
.nghiepTieuText,
.soLanText {
    font-family: MONOSPACE;
    font-size: 18px;
    font-weight: 900;
    color: #923935;
    text-align: center;
}

.congDucText {
    position: absolute;
    top: 32%;
    left: 16%
}

.tamTinhText {
    position: absolute;
    top: 60%;
    left: 16%
}

.nghiepTieuText {
    position: absolute;
    top: 32%;
    right: 12%
}

.soLanText {
    position: absolute;
    top: 60%;
    right: 20%
}