@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Inter;
    src: url('../../static/font/Inter/Inter.ttf');
}

@font-face {
    font-family: DancingScript;
    src: url('../../static/font/DancingScript/DancingScript-Regular.ttf') format('woff2'),
        url('../../static/font/DancingScript/DancingScript-Regular.ttf') format('woff');
    font-weight: 400;
    font-style: normal;
}

div,
p,
span,
input,
ul,
li {
    font-family: Inter, ui-sans-serif;
}

.p-tab-active {
    border-color: #147ee0 !important;
    color: #147ee0 !important;
}