@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Inter;
    src: url('../../static/font/Inter/Inter.ttf');
}

@font-face {
    font-family: DancingScript;
    src: url('../../static/font/DancingScript/DancingScript-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Lora;
    src: url('../../static/font/Lora/Lora-VariableFont_wght.ttf');
    font-weight: 400;
    font-style: normal;
}

:root {
    --p-toast-warn-detail-color: yellow;
    --p-select-color: white;
}

.p-tab-active {
    border-color: #fdedb5 !important;
    color: #fdedb5 !important;
}

.p-tablist-tab-list {
    overflow-x: auto !important;
}

/* Override root color */
:root {
    --p-tabs-tab-active-background: transparent !important;
    --p-tabs-tab-background: transparent !important;
    --p-tabs-tablist-background: transparent !important;
    --p-tabs-tabpanel-background: transparent !important;
}


/* Override toast style */

.p-toast-message-warn {
    background-color: #f7f4d5 !important;
}

.p-toast-message-warn .p-toast-detail {
    color: var(--p-toast-warn-color) !important;
}

.p-toast-message-success {
    background-color: #ddf2d5 !important;
}

.p-toast-message-success .p-toast-detail {
    color: var(--p-toast-success-color) !important;
}

.p-toast-message-error {
    background-color: #edcac7 !important;
}

.p-toast-message-error .p-toast-detail {
    color: var(--p-toast-error-color) !important;
}